<html layout:decorate="~{layout_page}">

<th:block layout:fragment="content">
  <div class="layout-contents">
    <div class="page-title-wrap">
      <div class="left">
        <h2>품목별 현황</h2>
        <a title="북마크" class="bookmark toggle">
          내 메뉴
        </a>
      </div>
      <ul class="page-navi">
        <li><img src="/images/icon/ico-nav-home.svg" alt="홈아이콘"></li>
        <li>발주관리</li>
        <li>품목별 현황</li>
      </ul>
    </div>

    <section class="section">
      <div class="section-top">
        <div class="search-wrap">
          <input type="hidden" id="spjangcdHidden" name="spjangcd"/>
          <dl>
            <dt>
              <label for="cboDateKind">
                검색 구분<span class="eq"></span>
              </label>
            </dt>
            <dd>
              <div class="srch-box">
                <select id="cboDateKind" name="cboDateKind">
                  <option value="sales">발주일</option>
                  <option value="delivery">납기일</option>
                </select>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>
              조회기간<span class="eq">*</span>
            </dt>
            <dd>
              <ul class="date-box">
                <li>
                  <input type="date" id="srchStartDt" name="srchStartDt">
                  <label for="srchStartDt" class="hide">시작일</label>
                </li>
                <li>
                  <input type="date" id="srchEndDt" name="srchEndDt">
                  <label for="srchEndDt" class="hide">종료일</label>
                </li>
              </ul>
            </dd>
          </dl>
          <dl>
            <dt>
              <label for="txtPname">
                품명
              </label>
            </dt>
            <dd>
              <div class="srch-box">
                <input id="txtPname" name="txtPname" placeholder="품명"/>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>
              <label for="txtActnm">
                현장명
              </label>
            </dt>
            <dd>
              <div class="srch-box">
                <input id="txtActnm" name="txtActnm" placeholder="현장명"/>
              </div>
            </dd>
          </dl>
          <dl>
            <dt>&nbsp;</dt>
            <dd>
              <li>
                <a class="btn btn-delete" title="검색" id="btnSearch">
                  <!--                                        class 쓰이는 곳 찾고 없으면 클래스명 수정하기-->
                  <img src="/images/icon/btn-srch.svg" alt="검색 아이콘">
                  검색
                </a>
              </li>
            </dd>
          </dl>
        </div>
      </div>
      <div class="container-fluid">
        <div id="theGrid" style="height: 730px;"></div>
      </div>
    </section>
  </div>
  </div>

</th:block>

<th:block layout:fragment="scripts">
  <!--<th:block th:replace="/common/columns_setting :: columns_setting"></th:block>-->
  <th:block th:replace="/common/multiform_material :: multiform_material"></th:block>
  <th:block th:replace="/common/popup_company_purchase :: popup_company_Purchase"></th:block>
  <th:block th:replace="/common/popup_projcet :: popup_projcet"></th:block>
  <th:block th:replace="/common/popup_staff :: popup_staff"></th:block>
  <th:block th:replace="/common/popup_actnm :: popup_actnm"></th:block>
  <th:block th:replace="/common/popup_part :: popup_part"></th:block>
  <script type="text/javascript">
    class BalJuItemListPage {
      constructor() {
        this.url = '/api/balju/balju_list';
        this.grid = null;
        this.spjangcd = $('#spjangcdHidden');
        this.viewData = new wijmo.collections.CollectionView();
        this.init();
      }

      init() {
        let _this = this;
        this.grid = new wijmo.grid.FlexGrid('#theGrid', {
          selectionMode: wijmo.grid.SelectionMode.Row,
          headersVisibility: wijmo.grid.HeadersVisibility.Column,
          autoGenerateColumns: false,
          showMarquee: true,
          isReadOnly: true,
          formatItem: (sender, e) => {
            if (e.panel.cellType === wijmo.grid.CellType.ColumnHeader) {
              e.cell.style.textAlign = 'center';
            }
          },
          columns: [
            {binding: 'pname', header: '품명', width: 280, align: 'left'},
            {binding: 'psize', header: '규격', width: 170, align: 'left'},
            {binding: 'punit', header: '단위', width: 70, align: 'center'},
            {binding: 'cltnm', header: '발주처', width: 170},
            {binding: 'baljudate', header: '발주일', width: 120, align: 'center'},
            {binding: 'pqty', header: '수량', width: 50, align: 'center', format: 'n0'},
            {binding: 'puamt', header: '단가', width: 110, align: 'right', format: 'n0'},
            {binding: 'pamt', header: '금액', width: 110, align: 'right',format: 'n0'},
            {binding: 'ichdate', header: '납기일자', width: 120, align: 'center'},
            {binding: 'actnm', header: '현장명', width: '*', align: 'left'},
          ],
          itemsSource: this.viewData, // 데이터를 설정할 배열
        });

        new FlexGridContextMenu(this.grid);
        this.grid.downloadFileName = '품목별 현황';

        // 엔터키 검색
        $('#txtActnm, #txtPname').on('keypress', function (e) {
          if (e.keyCode === 13) {
            _this.searchMainData();
          }
        });
      }//init

      searchMainData() {
        let _this = this;
        let url = this.url + '/item_read';

        console.log('searchMainData');
        const sessionDate = sessionStorage.getItem("sessionIchDate");
        const sessionAN = sessionStorage.getItem("sessionAN");
        const tabAction = sessionStorage.getItem("tabAction");

        if (sessionDate && /^\d{8}$/.test(sessionDate)) {
          const formattedDate = sessionDate.replace(/^(\d{4})(\d{2})(\d{2})$/, '$1-$2-$3');
          $("#srchStartDt").val(formattedDate);
          $("#srchEndDt").val(formattedDate);
        }
        if (sessionAN) {
          $("#txtActnm").val(sessionAN);
        }

        if (tabAction === "toggle") {
          $("#cboDateKind").val("delivery").trigger("change"); // 필요 시 change 이벤트
        }

        let date_kind = $('#cboDateKind').val();  //발주구분
        let start = $('#srchStartDt').val();  //시작일
        let end = $('#srchEndDt').val();      //종료일
        let txtPname = $('#txtPname').val(); //발주처
        let txtActnm = $('#txtActnm').val(); //현잔 명

        let data = {
          'pname': txtPname,
          'actnm': txtActnm,
          'date_kind': date_kind,
          'start': start,
          'end': end,
          'action': 'read'
        };

        let fnsuccess = function (result) {
          if (result && Array.isArray(result.data)) {
            _this.viewData = new wijmo.collections.CollectionView(result.data, {
              /*sortDescriptions: [
                { property: 'pname', ascending: true },
                { property: 'baljudate', ascending: false },
              ],*/
              groupDescriptions: [
                new wijmo.collections.PropertyGroupDescription(null, item =>
                  `품명: ${item.pname} / 규격: ${item.psize}`
                )
              ]
            });
            _this.grid.itemsSource = _this.viewData;
          }
        };
        AjaxUtil.getAsyncData(url, data, fnsuccess);

        sessionStorage.removeItem("tabAction");
        sessionStorage.removeItem("sessionDate");
        sessionStorage.removeItem("sessionPN");
        sessionStorage.removeItem("sessionAN");
        sessionStorage.removeItem("sessionIchDate");
      }
    }

    let page = null;
    var picker = new ax5.ui.picker();

    $(document).ready(function (e) {

      const spjangcd = sessionStorage.getItem('spjangcd');
      if (spjangcd) {
        $('#spjangcdHidden').val(spjangcd);  // hidden input이 있어야 함
      }

      page = new BalJuItemListPage();

      $('#srchStartDt').val(CommonUtil.getYYYYMMDD(-7));
      $('#srchEndDt').val(CommonUtil.getYYYYMMDD());

      page.searchMainData();

      // 검색
      $('#btnSearch').click(function (e) {
        page.searchMainData();
      });

    });
  </script>

</th:block>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</html>